label {
    display: block;
}
form {
    border-style: solid;
    padding: 5px;
}
#textsize150 {
    font-size: 150%;
}

ol li > h2 {
    background-color: red;
}

#aboutme p {
    background-color: black !important;
}

.bold, .emphasis {
    font-weight: bold;
}