.container {
    display: grid;
    border: 3px solid lightskyblue;
    border-radius: 5px;
    background-color: lightcyan;
    padding: 10px;
    grid-template-columns: repeat(6, auto);
    column-gap: 10px;
    grid-template: 
    "result result result result result result"
    "mc mr m-minus m-plus paren-open paren-close"
    "sqroot seven eight nine forward-slash percentage"
    "greater-than four five six times subtract"
    "ac one two three plus equals"
    "reset zero double-zero period plus equals"
    ;
}

#one { grid-area: one; }
#two { grid-area: two; }
#three { grid-area: three; }
#four { grid-area: four; }
#five { grid-area: five; }
#six { grid-area: six; }
#seven { grid-area: seven; }
#eight { grid-area: eight; }
#nine { grid-area: nine; }
#zero { grid-area: zero; }
#double-zero { grid-area: double-zero; }
#mc { grid-area: mc; }
#mr { grid-area: mr; }
#m-minus { grid-area: m-minus; }
#m-plus { grid-area: m-plus; }
#paren-open { grid-area: paren-open; }
#paren-close { grid-area: paren-close; }
#sqroot { grid-area: sqroot; }
#forward-slash { grid-area: forward-slash; }
#percentage { grid-area: percentage; }
#greater-than { grid-area: greater-than; }
#times { grid-area: times; }
#subtract { grid-area: subtract; }
#ac { grid-area: ac; }
#plus { grid-area: plus; }
#equals { grid-area: equals; }
#reset { grid-area: reset; }
#period { grid-area: period; }

#result {
    grid-area: result; 
    border-radius: 5px;
    text-align: right;
    padding: 10px 5px;
    background-color: white;
    border: 3px solid lightgrey;
    display: block;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

p:not(#result) {
    padding: 10px 5px;
    border-radius: 5px;
    text-align: center;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

.bg-red {
    color: white;
    background-color: red;
}

.bg-gray {
    background-color: darkgray;
    color: white;
}

.bg-dark-gray {
    background-color: gray;
    color: white;
}

.bg-blue {
    background-color: navy;
    color: white;
}
