body {
    background-color: lightcyan;
}

div:not(.container) {
    margin: 5px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: lightpink;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
}
